.footer{
    background-color: #7C162E;
    padding: 10px;
    color: white;
    text-align: right;
    font-size: 14px;
    font-family: 'Open Sans',  sans-serif;
    font-weight: normal;
}

a:hover {color: #b9b9b9;}