@import 'variables';
@import 'mixins';
@import 'responsive';

.about{
  color: white;
  height: 100vh;
  background: url('/assets/img/bottom-group.png') no-repeat fixed #4D0F24;
  -webkit-background-size: auto;
  -moz-background-size: auto;
  -o-background-size: auto;
  background-size: auto;
  background-position: bottom right;
  background-attachment:scroll;
}

.skills{
  height: 80vh;
}

.tools{
  position:absolute;
  top: 0;
  right:0;
  text-align: right;
}
.skills_tools {
  text-align: right;
}

