<div class="w-100 about pt-5" id="about" #about>
  <div class="container">
    <div class="align-self-center text-center">
        <span class="header">Hello. I am a</span>
    </div>

    <div class="text-center mt-4">
        <div>
          <ngx-typed-js [strings]="subheader_role" [typeSpeed]="100" [loop]="true" backDelay= "3000" class="subheader" >
            <span class="typing"></span>
          </ngx-typed-js>
        </div>
    </div>

    <div class="container w-100 skills d-flex align-items-end">
      <div class="row p-0 m-0">
        <div class="col">
          <div class="skill_name"><div>Machine Learning, Deep Learning, Python, Tensorflow,</div><div>Hugging Face, scikit-learn, Keras</div> </div>
          <div class="skill_name pt-3">Neo4j, SQL, My SQL, DynamoDB</div>
          <div class="skill_name pt-3"><div>Angular, Typescript, HTML, CSS, JavaScript</div> <div>Java, JavaFX, Spring Framework, Hibernate, Android</div></div>

        </div>
        <div class="col position-relative align-bottom p-1">
          <div class="row skill_name skills_tools"><div>Android Studio, IntelliJ, Visual Studio,</div><div>Webstorm, Pycharm, SourceTree</div></div>
          <div class="row header position-absolute bottom-0 end-0 p-1 m-0 skills_tools">Skills & Tools</div>
        </div>
      </div>
    </div>


</div>
</div>
