<div class="w-100 about" id="about" #about>
  <div class="container">
  <div class="align-self-center text-center">
      <span class="header">Hello. I am a</span>
  </div>

  <div class="text-center mt-4">
      <div>
        <span class="subheader">Machine Learning Engineer | Full Stack Developer</span>
      </div>
      <div class="mt-4">
        <span class="subheader">AWS Machine Learning Specialist | Speaker @ AIxIA Conference 2019</span>
      </div>
  </div>

  <div class="skills">
    <div class="row p-0 m-0">
      <div class="col">
        <div class="skill_name"><div>Machine Learning, Deep Learning, Python, Tensorflow,</div><div>Hugging Face, scikit-learn, Keras</div> </div>
        <div class="skill_name pt-3">Neo4j, SQL, My SQL, DynamoDB</div>
        <div class="skill_name pt-3"><div>Angular, Typescript, HTML, CSS, JavaScript</div> <div>Java, JavaFX, Spring Framework, Hibernate, Android</div></div>
        <!-- <div class="skill_name pt-3"></div> -->
      </div>
      <div class="col position-relative align-bottom p-1">
        <div class="row skill_name skills_tools"><div>Android Studio, IntelliJ, Visual Studio,</div><div>Webstorm, Pycharm, SourceTree</div></div>
        <div class="row header position-absolute bottom-0 end-0 p-1 skills_tools">Skills & Tools</div>
      </div>
      
    </div>
  </div>

  <div class="profession_experience">
    <div class="row">
      <div class="col-8">
        <div class="header">Professional Experience</div>
      </div>
      <div class="col-4 profession_experience_parent align-self-center">
        <div class="subheader text-end"> <div> Over the years,</div><div>I have worked with...</div></div>
      </div>
    </div>
    <div class="row companies">
      <div class="col text-center">
        <div class="job_role">Senior IT Consultant</div>
        <div class="minnosphere_container mt-2">
          <a href="https://www.minnosphere.com/" target="_blank" rel="noopener noreferrer">
            <img alt="Qries" src="/assets/img/minnosphere.png" class="company_logo">
         </a>
        </div>
      </div>
      
      <div class="col text-center">
        <div class="job_role">IT Consultant</div>
        <div class="msg_container mt-2">
          <a href="https://www.msg.group/en" target="_blank" rel="noopener noreferrer">
            <img alt="Qries" src="/assets/img/msg.png" class="company_logo">
         </a>
        </div>
      </div>

        <div class="col text-center">
          <div class="job_role">Web Developer</div>
          <div class="siemens_container mt-2">
            <a href="https://www.siemens.com/global/en.html" target="_blank" rel="noopener noreferrer">
              <img alt="Qries" src="/assets/img/siemens.png" class="company_logo">
           </a>
          </div>
        </div>

        <div class="col text-center">
          <div class="job_role">Software Engineer</div>
          <div class="step2e_container mt-2">
            <a href="http://www.step2e.de/" target="_blank" rel="noopener noreferrer">
              <img alt="Qries" src="/assets/img/step2e.png" class="company_logo">
           </a>
          </div>
        </div>
       
        <div class="col text-center">
          <div class="job_role">Software Engineer</div>
          <div class="kelltontech_container mt-2">
            <a href="https://www.kelltontech.com/" target="_blank" rel="noopener noreferrer">
              <img alt="Qries" src="/assets/img/kellton.png" class="company_logo">
           </a>
          </div>
        </div>
    </div>
  </div>
</div>
</div>