@import 'variables';
@import 'mixins';
@import 'responsive';

.experience{
  flex-direction: column;
  justify-content: center;
  color:white;
  height: 100vh;
}
.companies{
  margin-top: 80px;
}

.minnosphere_container{
  height: 46px;
}
.msg_container{
  height: 25px;
}
.siemens_container{
  height: 25.27px;
}
.step2e_container{
  height: 46px;
}
.kelltontech_container{
  height: 44.27px;
}
.company_experience_container{
  height: 37px;
}
.company_logo{
  max-height: 100%;
  max-width: 100%;
}
