.main-container {
  background: url('/assets/img/background-wallpaper.png') no-repeat fixed #4D0F24;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: bottom right;
  background-attachment: scroll;
}
