/* Smartphones (portrait) ----------- */
//@media only screen
//and (max-width : 580px) {
//  /* Styles */
//  .img-fluid {
//    max-width: 70%;
//    height: auto
//  }
//}
//
///* iPads (portrait and landscape) ----------- */
//@media only screen
//and (min-device-width : 768px)
//and (max-device-width : 1024px) {
//  /* Styles */
//  .img-fluid {
//    max-width: 75%;
//    height: auto
//  }
//}

/* Desktops and laptops ----------- */
@media only screen
and (max-device-width : 1106px){
  /* Styles */
  .img-fluid {
    max-width: 75%;
    height: auto
  }

  .center-text{
    text-align: center!important;
  }
}

@media only screen
and (min-device-width : 1106px)
and (max-device-width : 1200px){
  /* Styles */
  .img-fluid {
    max-width: 65%;
    height: auto
  }

}
@media only screen
and (min-device-width : 1200px)
and (max-device-width : 1224px){
  /* Styles */
  .img-fluid {
    max-width: 50%;
    height: auto
  }
}

@media only screen
and (min-device-width : 1224px) {
  /* Styles */
  .img-fluid {
    max-width: 45%;
    height: auto
  }
}

/* Large screens ----------- */
@media only screen
and (min-width : 1824px) {
  /* Styles */
  .img-fluid {
    max-width: 50%;
    height: auto
  }
}

/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
  /* Styles */
}
